<mat-card>
  <mat-card-header>
    <mat-card-title>Odzyskiwanie konta</mat-card-title>
    <mat-card-subtitle>Wprowadź adres e-mail, który został podany przy rejestracji.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="account-recovery-form" [formGroup]="accountRecoveryForm" autocomplete="off" novalidate (ngSubmit)="accountRecovery(accountRecoveryForm.value)">
      <mat-card *ngIf="showError" class="error-card">{{ errorMessage }}</mat-card>
      <mat-form-field class="field-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput name="email" type="email" formControlName="email" tabindex="1">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="accountRecoveryForm.controls['email'].errors?.required">Nie wprowadzono adresu e-mail.</mat-error>
        <mat-error *ngIf="accountRecoveryForm.controls['email'].errors?.email">E-mail został wprowadzony w nieprawidłowym formacie.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" tabindex="2" [disabled]="!accountRecoveryForm.valid">
        Dalej
      </button>
    </form>
  </mat-card-content>
</mat-card>
