.account-recovery-card {
  min-width: 150px;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  padding: 25px 5px 25px 5px;
}

.account-recovery-header {
  margin-left: 10px;
}

.account-recovery-form {
  min-width: 100px;
  max-width: 500px;
  margin: 0 auto;
}

button {
  margin-top: 10px;
}

@media (max-width: 599.5px) and (orientation: portrait) {
  .account-recovery-form {
    min-width: 50px;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
  }

  mat-form-field {
    margin-bottom: 15px;
  }

  .error-card {
    margin-bottom: 30px !important;
  }
}
