<mat-toolbar color="accent">
  <mat-icon>warning</mat-icon>
  <h1 mat-dialog-title>Aktywacja konta</h1>
  <mat-icon class="mat-dialog-close" tabindex="2" mat-dialog-close>cancel</mat-icon>
</mat-toolbar>
<mat-dialog-content>
  <p>
    Konto użytkownika zostało pomyślnie utworzone. Kliknij link wysłany na Twoją skrzynkę pocztową
    w celu aktywacji konta.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" tabindex="1" mat-dialog-close>OK</button>
</mat-dialog-actions>
