<mat-card>
  <mat-card class="account-activation-card">
    <mat-card-content>
      <h1>Aktywacja konta użytkownika</h1>
      <div *ngIf="showSuccess">
        <mat-icon>check_circle</mat-icon>
        <mat-card class="success-card success-error-card">
          Twoje konto użytkownika zostało aktywowane.
        </mat-card>
      </div>
      <div *ngIf="showError">
        <mat-icon>cancel</mat-icon>
        <mat-card class="error-card success-error-card">{{ errorMessage }}</mat-card>
      </div>
      <button *ngIf="showSuccess" mat-raised-button color="primary" tabindex="1" (click)="redirectToLogin()">
        Zaloguj
      </button>
    </mat-card-content>
  </mat-card>
</mat-card>
