<mat-card>
  <mat-card class="about-card">
    <mat-card-header class="about-header">
      <mat-card-title>Informacje o systemie</mat-card-title>
      <mat-card-subtitle>Komdeka - webowy system zarządzania jakością.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        System Komdeka powstał w ramach pracy magisterskiej zrealizowanej na kierunku
        inżynieria produkcji, specjalność systemy informatyczne w inżynierii produkcji,
        w Instytucie Politechniczynym Państwowej Akademii Nauk Stosowanych w Krośnie w 2024 r.
      </p>
      <p>
        Autorem systemu jest inż. Bartłomiej Czerny, a praca została wykonana pod kierunkiem
        dr. inż. Bartosza Trybusa.
      </p>
      <p>
        Projekt powstał w odpowiedzi na problemy, z jakimi zmagają się małe i średnie
        firmy produkcyjne, które dotychczas korzystały z edytorów tekstowych oraz arkuszy
        kalkulacyjnych do przechowywania dokumentacji, co wiązało się z ryzykiem popełnienia
        błędów. Aplikacja Komdeka została specjalnie dostosowana do wymagań tego typu przedsiębiorstw,
        gdyż zawiera wyłącznie niezbędne funkcjonalności umożliwiające częściową automatyzację procesów
        produkcyjnych, a także bezpieczne przechowywanie danych.
      </p>
      <p>
        System Komdeka informuje na bieżąco o zweryfikowanych i niezweryfikowanych elementach procesu
        produkcyjnego. Umożliwia rejestrację konta użytkownika oraz jego aktywację, logowanie dwuetapowe,
        resetowanie hasła, a także zmianę motywu kolorystycznego aplikacji. Pozwala zarządzać zamówieniami,
        zatwierdzonymi dostawcami oraz narzędziami, poprzez dodawanie, przeglądanie, edytowanie i usuwanie
        danych, przy czym opcja usuwania jest dostępna wyłącznie dla administratora. Aby zapewnić wysoki
        poziom bezpieczeństwa dostęp do zasobów mają wyłącznie uprawnione osoby, a użytkownik po dłuższym
        okresie bezczynności zostaje automatycznie wylogowany.
      </p>
    </mat-card-content>
  </mat-card>
</mat-card>
