<mat-card>
  <mat-card class="about-card">
    <mat-card-header class="about-header">
      <mat-card-title>Informacje o systemie</mat-card-title>
      <mat-card-subtitle>Autor: inż. Bartłomiej Czerny pod kierownictwem dr. inż. Bartosza Trybusa.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Ten system powstał w ramach pracy magisterskiej zrealizowanej w Karpackiej Państwowej Uczelni w Krośnie w 2023 r.
      </p>
    </mat-card-content>
  </mat-card>
</mat-card>
