<mat-card>
  <mat-card class="about-card">
    <mat-card-header class="about-header">
      <mat-card-title>Informacje o systemie</mat-card-title>
      <mat-card-subtitle>Komdeka - webowy system zarządzania jakością.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        System Komdeka powstał w ramach pracy magisterskiej zrealizowanej na kierunku
        inżynieria produkcji, specjalność systemy informatyczne w inżynierii produkcji,
        w Instytucie Politechnicznym Państwowej Akademii Nauk Stosowanych w Krośnie w 2024 roku.
      </p>
      <p>
        Autorem systemu jest inż. Bartłomiej Czerny, a praca została wykonana pod kierunkiem
        dr. inż. Bartosza Trybusa.
      </p>
      <p>
        Projekt powstał w odpowiedzi na problemy małych i średnich firm produkcyjnych, które
        dotychczas korzystały z edytorów tekstowych oraz arkuszy kalkulacyjnych do przechowywania
        dokumentacji. Te rozwiązania nie obejmują funkcji monitorowania poprawności danych, na
        których wykonywane są różne operacje, co zwiększało ryzyko popełnienia błędów. Aplikacja
        Komdeka została specjalnie dostosowana do potrzeb tego typu przedsiębiorstw, oferując
        niezbędne funkcjonalności do częściowej automatyzacji procesów produkcyjnych oraz bezpieczne
        przechowywanie danych.
      </p>
      <p>
        System Komdeka informuje na bieżąco o zweryfikowanych i niezweryfikowanych elementach
        procesu produkcyjnego. Umożliwia rejestrację konta użytkownika oraz jego aktywację,
        logowanie dwuetapowe, resetowanie hasła, a także zmianę motywu kolorystycznego aplikacji.
        Pozwala zarządzać zamówieniami, zatwierdzonymi dostawcami oraz narzędziami, poprzez
        dodawanie, przeglądanie, edytowanie i usuwanie danych. Opcja usuwania jest dostępna
        wyłącznie dla administratora. Aby zapewnić wysoki poziom bezpieczeństwa, dostęp do zasobów
        mają wyłącznie uprawnione osoby. Użytkownik po dłuższym okresie bezczynności zostaje
        automatycznie wylogowany.
      </p>
    </mat-card-content>
  </mat-card>
</mat-card>
