<mat-card>
  <mat-card class="tool-details-card">
    <mat-card-header class="tool-details-header">
      <mat-card-title>Szczegóły narzędzia</mat-card-title>
      <mat-card-subtitle>Zapoznaj się ze szczegółami tego narzędzia.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="tool-form">
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Numer identyfikacyjny</mat-label>
              <input matInput disabled [value]="tool.idNumber">
            </mat-form-field>
          </div>
          <div class="input-field input-space">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Numer fabryczny</mat-label>
              <input matInput disabled [value]="tool.serialNumber">
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Nazwa</mat-label>
              <input matInput disabled [value]="tool.name">
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Typ</mat-label>
              <mat-select disabled [value]="tool.type">
                <mat-option *ngFor="let type of types" [value]="type.type">
                  {{type.type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-field input-space">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Czy podlega obsłudze metrologicznej?</mat-label>
              <mat-select disabled [value]="tool.isMetrologicalService">
                <mat-option *ngFor="let isMetrologicalService of isMetrologicalService" [value]="isMetrologicalService.isMetrologicalService">
                  {{isMetrologicalService.isMetrologicalServiceOption}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Interwał obsługi metrologicznej</mat-label>
              <input matInput disabled [value]="tool.metrologicalServiceInterval != '' ? tool.metrologicalServiceInterval : '-'">
            </mat-form-field>
          </div>
          <div class="input-field input-space">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Data ostatniej obsługi metrologicznej</mat-label>
              <input matInput disabled [value]="tool.lastMetrologicalService != null ? (tool.lastMetrologicalService | date:'dd.MM.yyyy') : '-'">
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Ważny do</mat-label>
              <input matInput disabled [value]="tool.validUntil != null ? (tool.validUntil | date:'dd.MM.yyyy') : '-'">
            </mat-form-field>
          </div>
          <div class="input-field input-space">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select disabled [value]="tool.status">
                <mat-option *ngFor="let status of statuses" [value]="status.status">
                  {{status.status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="buttons">
          <button mat-raised-button color="primary" tabindex="1" (click)="redirectToToolsList()">Wróć do listy narzędzi</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-card>
