<mat-card>
  <mat-card class="tool-add-card">
    <mat-card-header class="tool-add-header">
      <mat-card-title>Dodawanie narzędzia</mat-card-title>
      <mat-card-subtitle>Dodaj nowe narzędzie do wyposażenia.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="tool-form" [formGroup]="toolForm" autocomplete="off" novalidate (ngSubmit)="addTool(toolForm.value)">
        <div *ngIf="showError" class="input-container">
          <div class="input-field">
            <mat-card class="error-card">{{errorMessage}}</mat-card>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Numer identyfikacyjny</mat-label>
              <input matInput type="text" formControlName="idNumber" id="idNumber" tabindex="1">
              <mat-error *ngIf="toolForm.controls['idNumber'].errors?.required">Nie wprowadzono numeru identyfikacyjnego.</mat-error>
              <mat-error *ngIf="toolForm.controls['idNumber'].errors?.maxlength">Nr id. może zawierać maksymalnie 15 znaków.</mat-error>
            </mat-form-field>
          </div>
          <div class="input-field input-space">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Numer fabryczny</mat-label>
              <input matInput type="text" formControlName="serialNumber" id="serialNumber" tabindex="2">
              <mat-error *ngIf="toolForm.controls['serialNumber'].errors?.required">Nie wprowadzono numeru fabrycznego.</mat-error>
              <mat-error *ngIf="toolForm.controls['serialNumber'].errors?.maxlength">Nr fabryczny może zawierać maks. 255 znaków.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Nazwa</mat-label>
              <input matInput type="text" formControlName="name" id="name" tabindex="3">
              <mat-error *ngIf="toolForm.controls['name'].errors?.required">Nie wprowadzono nazwy.</mat-error>
              <mat-error *ngIf="toolForm.controls['name'].errors?.maxlength">Nazwa może zawierać maksymalnie 255 znaków.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Typ</mat-label>
              <mat-select formControlName="type" id="type" name="type" tabindex="4">
                <mat-option *ngFor="let type of types" [value]="type.type">
                  {{type.type}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="toolForm.controls['type'].errors?.required">Nie wybrano typu.</mat-error>
            </mat-form-field>
          </div>
          <div class="input-field input-space">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Czy podlega obsłudze metrologicznej?</mat-label>
              <mat-select formControlName="isMetrologicalService" id="isMetrologicalService" name="isMetrologicalService" tabindex="5" [(ngModel)]="hasMetrologicalService">
                <mat-option *ngFor="let isMetrologicalService of isMetrologicalService" [value]="isMetrologicalService.isMetrologicalService">
                  {{isMetrologicalService.isMetrologicalServiceOption}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="toolForm.controls['isMetrologicalService'].errors?.required">Nie wybrano, czy podlega obsł. metrologicznej.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Okres ważności</mat-label>
              <mat-date-range-input tabindex="6" [formGroup]="toolForm" [rangePicker]="picker" [disabled]="!hasMetrologicalService">
                <input matStartDate formControlName="lastMetrologicalService" placeholder="Data ostatniej obsługi metrologicznej">
                <input matEndDate formControlName="validUntil" placeholder="Ważny do">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="toolForm.controls.lastMetrologicalService.invalid || toolForm.controls.validUntil.invalid">Wybrano nieprawidłowy okres ważności.</mat-error>
            </mat-form-field>
          </div>
          <div class="input-field input-space">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status" id="status" name="status" tabindex="7">
                <mat-option *ngFor="let status of statuses" [value]="status.status">
                  {{status.status}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="toolForm.controls['status'].errors?.required">Nie wybrano statusu.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="buttons">
          <button mat-raised-button color="primary" type="submit" tabindex="8" [disabled]="!toolForm.valid">Zapisz</button>
          <button class="cancel-button" mat-raised-button color="accent" tabindex="9" (click)="redirectToToolsList()">Anuluj</button>
          <button mat-raised-button color="warn" tabindex="10" (click)="resetToolForm()">Wyczyść</button>
        </div>
      </form>
      <form class="tool-mobile-form" [formGroup]="toolForm" autocomplete="off" novalidate (ngSubmit)="addTool(toolForm.value)">
        <div *ngIf="showError" class="input-container">
          <div class="input-field">
            <mat-card class="error-card">{{errorMessage}}</mat-card>
          </div>
        </div>
        <div class="input-container">
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Numer identyfikacyjny</mat-label>
            <input matInput type="text" formControlName="idNumber" id="idNumber" tabindex="1">
            <mat-error *ngIf="toolForm.controls['idNumber'].errors?.required">Nie wprowadzono numeru identyfikacyjnego.</mat-error>
            <mat-error *ngIf="toolForm.controls['idNumber'].errors?.maxlength">Nr id. może zawierać maksymalnie 15 znaków.</mat-error>
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Numer fabryczny</mat-label>
            <input matInput type="text" formControlName="serialNumber" id="serialNumber" tabindex="2">
            <mat-error *ngIf="toolForm.controls['serialNumber'].errors?.required">Nie wprowadzono numeru fabrycznego.</mat-error>
            <mat-error *ngIf="toolForm.controls['serialNumber'].errors?.maxlength">Nr fabryczny może zawierać maks. 255 znaków.</mat-error>
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Nazwa</mat-label>
            <input matInput type="text" formControlName="name" id="name" tabindex="3">
            <mat-error *ngIf="toolForm.controls['name'].errors?.required">Nie wprowadzono nazwy.</mat-error>
            <mat-error *ngIf="toolForm.controls['name'].errors?.maxlength">Nazwa może zawierać maksymalnie 255 znaków.</mat-error>
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Typ</mat-label>
            <mat-select formControlName="type" id="type" name="type" tabindex="4">
              <mat-option *ngFor="let type of types" [value]="type.type">
                {{type.type}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="toolForm.controls['type'].errors?.required">Nie wybrano typu.</mat-error>
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Czy podlega obsłudze metrologicznej?</mat-label>
            <mat-select formControlName="isMetrologicalService" id="isMetrologicalService" name="isMetrologicalService" tabindex="5" [(ngModel)]="hasMetrologicalService">
              <mat-option *ngFor="let isMetrologicalService of isMetrologicalService" [value]="isMetrologicalService.isMetrologicalService">
                {{isMetrologicalService.isMetrologicalServiceOption}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="toolForm.controls['isMetrologicalService'].errors?.required">Nie wybrano, czy podlega obsł. metrologicznej.</mat-error>
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Okres ważności</mat-label>
            <mat-date-range-input tabindex="6" [formGroup]="toolForm" [rangePicker]="mobilePicker" [disabled]="!hasMetrologicalService">
              <input matStartDate formControlName="lastMetrologicalService" placeholder="Data ostatniej obsługi metrologicznej">
              <input matEndDate formControlName="validUntil" placeholder="Ważny do">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="mobilePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #mobilePicker></mat-date-range-picker>
            <mat-error *ngIf="toolForm.controls.lastMetrologicalService.invalid || toolForm.controls.validUntil.invalid">Wybrano nieprawidłowy okres ważności.</mat-error>
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" id="status" name="status" tabindex="7">
              <mat-option *ngFor="let status of statuses" [value]="status.status">
                {{status.status}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="toolForm.controls['status'].errors?.required">Nie wybrano statusu.</mat-error>
          </mat-form-field>
        </div>
        <div class="buttons">
          <button mat-raised-button color="primary" type="submit" tabindex="8" [disabled]="!toolForm.valid">Zapisz</button>
          <button class="cancel-button" mat-raised-button color="accent" tabindex="9" (click)="redirectToToolsList()">Anuluj</button>
          <button mat-raised-button color="warn" tabindex="10" (click)="resetToolForm()">Wyczyść</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-card>
