<mat-card>
  <mat-card class="login-card">
    <mat-card-header class="login-header">
      <mat-card-title>Logowanie</mat-card-title>
      <mat-card-subtitle>Zaloguj się i korzystaj z systemu Komdeka.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm" autocomplete="off" novalidate
        (ngSubmit)="login(loginForm.value)">
        <mat-card *ngIf="showError" class="error-card">{{ errorMessage }}</mat-card>
        <mat-form-field class="field-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput name="email" type="email" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="loginForm.controls['email'].errors?.required">Nie wprowadzono adresu e-mail.</mat-error>
          <mat-error *ngIf="loginForm.controls['email'].errors?.email">E-mail został wprowadzony w nieprawidłowym
            formacie.</mat-error>
        </mat-form-field>
        <mat-form-field class="field-width" appearance="fill">
          <mat-label>Hasło</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" formControlName="password">
          <mat-icon class="password-visibility" matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ?
            'visibility_off' : 'visibility' }}</mat-icon>
          <mat-error *ngIf="loginForm.controls['password'].errors?.required">Nie wprowadzono hasła.</mat-error>
          <mat-error *ngIf="loginForm.controls['password'].errors?.pattern">Hasło musi zawierać małą i wielką literę,
            cyfrę, znak specjalny oraz wymaga od 8 do 64 znaków.</mat-error>
        </mat-form-field>
        <div>
          <a [routerLink]="['/authentication/account-recovery']">Nie pamiętasz hasła?</a>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
          Dalej
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</mat-card>
