.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu {
  margin: auto 0 auto auto;
}

img {
  float: left;
  width: 32px;
  height: 32px;
  padding-right: 10px;
  pointer-events: none;
}

.logo:hover {
  cursor: pointer;
	opacity: 0.5;
}

.mat-toolbar-items {
  margin: auto 0 auto auto;
}

.logged-user {
  font-size: 10.99px;
}

.img-alignment {
  position: relative;
  top: 7px;
  padding-right: 6px;
}

mat-slide-toggle {
  margin-right: 6px;
}

.footer {
  font-size: 13px;
  margin: 0 auto;
}
