<mat-card>
  <mat-card class="tool-delete-card">
    <mat-card-header class="tool-delete-header">
      <mat-card-title>Usuwanie narzędzia</mat-card-title>
      <mat-card-subtitle>Czy na pewno chcesz usunąć to narzędzie?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="tool-form">
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Numer identyfikacyjny</mat-label>
              <input matInput tabindex="1" [value]="tool.idNumber" [readonly]="true">
            </mat-form-field>
          </div>
          <div class="input-field input-space">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Numer fabryczny</mat-label>
              <input matInput tabindex="2" [value]="tool.serialNumber" [readonly]="true">
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Nazwa</mat-label>
              <input matInput tabindex="3" [value]="tool.name" [readonly]="true">
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Typ</mat-label>
              <input matInput tabindex="4" [value]="tool.type" [readonly]="true">
            </mat-form-field>
          </div>
          <div class="input-field input-space">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Czy podlega obsłudze metrologicznej?</mat-label>
              <input matInput tabindex="5" [value]="tool.isMetrologicalService === true ? 'Tak' : 'Nie'" [readonly]="true">
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Interwał obsługi metrologicznej</mat-label>
              <input matInput tabindex="6" [value]="tool.metrologicalServiceInterval != '' ? tool.metrologicalServiceInterval : '-'" [readonly]="true">
            </mat-form-field>
          </div>
          <div class="input-field input-space">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Data ostatniej obsługi metrologicznej</mat-label>
              <input matInput tabindex="7" [value]="tool.lastMetrologicalService != null ? (tool.lastMetrologicalService | date:'dd.MM.yyyy') : '-'" [readonly]="true">
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="input-field">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Ważny do</mat-label>
              <input matInput tabindex="8" [value]="tool.validUntil != null ? (tool.validUntil | date:'dd.MM.yyyy') : '-'" [readonly]="true">
            </mat-form-field>
          </div>
          <div class="input-field input-space">
            <mat-form-field class="field-width" appearance="fill">
              <mat-label>Status</mat-label>
              <input matInput tabindex="9" [value]="tool.status" [readonly]="true">
            </mat-form-field>
          </div>
        </div>
        <div class="buttons">
          <button mat-raised-button color="warn" tabindex="10" (click)="deleteTool()">Usuń</button>
          <button class="cancel-button" mat-raised-button color="accent" tabindex="11" (click)="redirectToToolsList()">Anuluj</button>
        </div>
      </form>
      <form class="tool-mobile-form">
        <div class="input-container">
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Numer identyfikacyjny</mat-label>
            <input matInput tabindex="1" [value]="tool.idNumber" [readonly]="true">
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Numer fabryczny</mat-label>
            <input matInput tabindex="2" [value]="tool.serialNumber" [readonly]="true">
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Nazwa</mat-label>
            <input matInput tabindex="3" [value]="tool.name" [readonly]="true">
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Typ</mat-label>
            <input matInput tabindex="4" [value]="tool.type" [readonly]="true">
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Czy podlega obsłudze metrologicznej?</mat-label>
            <input matInput tabindex="5" [value]="tool.isMetrologicalService === true ? 'Tak' : 'Nie'" [readonly]="true">
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Interwał obsługi metrologicznej</mat-label>
            <input matInput tabindex="6" [value]="tool.metrologicalServiceInterval != '' ? tool.metrologicalServiceInterval : '-'" [readonly]="true">
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Data ostatniej obsługi metrologicznej</mat-label>
            <input matInput tabindex="7" [value]="tool.lastMetrologicalService != null ? (tool.lastMetrologicalService | date:'dd.MM.yyyy') : '-'" [readonly]="true">
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Ważny do</mat-label>
            <input matInput tabindex="8" [value]="tool.validUntil != null ? (tool.validUntil | date:'dd.MM.yyyy') : '-'" [readonly]="true">
          </mat-form-field>
          <mat-form-field class="field-width" appearance="fill">
            <mat-label>Status</mat-label>
            <input matInput tabindex="9" [value]="tool.status" [readonly]="true">
          </mat-form-field>
        </div>
        <div class="buttons">
          <button mat-raised-button color="warn" tabindex="10" (click)="deleteTool()">Usuń</button>
          <button class="cancel-button" mat-raised-button color="accent" tabindex="11" (click)="redirectToToolsList()">Anuluj</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-card>
